*{
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #CCCCCC !important;

}
.imagen{
    width: 3vw;
    height: 6vh;
    padding-bottom: 1vh; 
}

.navbar{
    width: 100%;
    background-color: white;
    height: 14vh;
    border-bottom: 3px solid rgba(185, 31, 31, 0.616);
}
.navbar-brand{
    width: 40%;   
}
.navbar-nav{
    width: 50%;   
}

#logo{
    width: 90%;
    height: 13vh;
}
.nav-item{
    font-size: 3vh; 
    margin-top: 5px;   
}

.nav-link{
    color: black !important;
}

.nav-link:hover{
    color: #E05B49 !important;
}
.dropdown-item{
    font-size: 2.5vh;
}
.btn-primary{
    background-color: white !important;
    border-color: white !important;
    padding: 0%;
}
#correo{
    position: absolute;
    right: 10px;
}
main{
    width: 95%;
    display: flex;
    margin: 5% 5%;
    
}

#main-izq{
    width: 70%;
}
.accordion-button{
    background-color: #B4493B !important;
    color: #F2F2F2 !important;
    box-shadow: 0 0 0 .25rem rgba(83, 58, 57, 0.863) !important;

}
.accordion-button:not(.collapsed){
    background-color: #B4493B !important;
    color: #F2F2F2 !important;
}
.accordion-button:focus{
    box-shadow: 0 0 0 .25rem rgba(83, 58, 57, 0.863) !important;
}
.accordion-body{
    background-color: #F2F2F2;
}
#main-der{
    width: 30%;
    margin-left: 2%;
    padding-top: 7%;
}
p{
    font-size: 2.5vh;
}
#imagen-main{
    width: 23vw;
    height: 45vh;
}
.offcanvas-end{
    background-color: rgba(241, 231, 229, 0.842) !important;
}
#offcanvasRightLabel{
    font-size: 4vh;
}
.offcanvas-body > a{
    margin-left: 20%;
    font-size: 4vh;
    text-decoration: none !important;
    color: #B4493B;
    
    
}
.offcanvas-body > a:hover{
    color: rgb(83, 31, 31);
}

#main-congress{
    margin: 3% 10%;
    width: 80%;
    background-color: #F2F2F2;
    padding-bottom: 3%;
    box-shadow: 0px 0px 20px 5px rgba(83, 58, 57, 0.863)
}

#main-general{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;

}
#main-part1-house{
    width: 70%;
    text-align: center;
}
#main-attendance-inicio{
    width: 100%;
    display: flex;
    padding-bottom: 4%;
    
}
#main-attendance-loyal{
    width: 40%;
    margin: 3% 5.5%;
    background-color: #F2F2F2;
    
    box-shadow: 0px 0px 5px 2px rgba(83, 58, 57, 0.863)
    
}
#main-attendance{
    margin: 3% 4%;
    width: 50%;
    background-color: #F2F2F2;
    padding-bottom: 3%;
    box-shadow: 0px 0px 5px 2px rgba(83, 58, 57, 0.863)
}
#main-general-attendance{
    margin: 3% 4%;
}

#form{
    
    margin: 0% 16%;
    width: 70%;
    display: flex;
    justify-content: space-around;
    border: 3px solid #B4493B;
    border-radius: 4px;
    background-color: #ccccccc4;
}
#select{
    width: 30%;
    display: flex;
}
#estados{
    margin-left: 10%;
    width: 40%;
}
#checkboxs{
    margin-top: 1%;
}

label, #legend{
    
    font-size: 2.5vh;
}
#label-select{
    margin-top: 3%
}

#h2-house{
    padding-top: 1vh;
    text-align: center;
    background-color: #B4493B;
    color: #F2F2F2;
    width: 100%;
    height: 10vh;
    font-size: 6vh;
    font-weight: bold;
    border: solid 1px #a14134;
    border-radius: 4px;
}
#main-part1-house > p{
    font-size: 3vh;
}
#contenedor-tabla-der{
    background-color: #F2F2F2;
    margin-top: 7%;
    width: 40%;
    height: 40vh;
    
    box-shadow: 0px 0px 5px 2px rgba(83, 58, 57, 0.863);
}
#contenedor-tabla-der-loyal{
    background-color: #F2F2F2;
    margin: 3% 4%;
    width: 40%;
    height: 40vh;
    
    box-shadow: 0px 0px 5px 2px rgba(83, 58, 57, 0.863);
}
h2{
    text-align: center;
    color: #F2F2F2;
    background-color: #702d24;
    padding-top: 2%;
    padding-bottom: 2%;
}
#main-attendance-final{
    margin-left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.tablas{
    width: 45%;
    background-color: #F2F2F2;
    box-shadow: 0px 0px 5px 2px rgba(83, 58, 57, 0.863)
}
.tabla{
    width: 70%;
    margin: 0% 16%;
    border: 4px solid #B4493B;
    border-radius: 4px;
}

table > thead{
    background-color: #B4493B;
    color: #F2F2F2;
    font-size: 3vh;
    font-weight: bold;
}
table > thead >tr > th{
    text-align: center;
}

table >tbody > tr >td{
    text-align: center;
    font-size: 2.3vh;
}
table >tbody > tr >td > a{
    text-decoration: none;
    color: #923a2e;
}
table >tbody > tr >td > a:hover{
    
    color: #251d1c;
}
footer{
    width: 100%;
    height: 10vh;
    margin-top: 5%;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid rgba(185, 31, 31, 0.616);
    
    background-color: #f8f9fa !important;
}